body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container{
    width: 99vh; 
    height: 99vh;

    background-color: #f4f4f4;

    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.color{
    background-color: black;
}

.clearbtn{
    position: fixed;
    left: 5px;
    top: 5px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 100;
}
.clearbtn:hover {
    background-color: #98a19a;
}

.hovereffect{
background-color: #000000;
}

.promptbtn{
    position: absolute;
    top:5px;
    left: 80px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 100;
}
